{
    "singleQuote": false,
    "trailingComma": "all",
    "printWidth": 100,
    "arrowParens": "always",
    "endOfLine": "lf",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}